<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/office/style.css}">
	<link rel="stylesheet" th:href="@{/css/office/clients.css}">
	 <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <script th:src="@{/css/bootstrap/bootstrap.core.min.js}"></script>
    <script th:src="@{/css/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/css/bootstrap/jquery3.2.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">
 	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
  </head>
    <title>Leads</title>
</head>
<body>
			<div  th:fragment="navigation"  class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" class="bg-success">
				<div class="p-4 pt-5 ">
		  		<a href="#" class="img logo rounded-circle mb-5" th:style="'background-image: url(/img/logo.png)'"></a>
	        <ul class="list-unstyled components mb-5">
	         
	          <li >
	            <a th:href="@{/office/dashboard}">Dashboard</a>
	          </li>
            <li >
              <a th:href="@{/office/clients}">Clients</a>
            </li>
            <li class="active">
                <a th:href="@{/office/leads}">Leads</a>
            </li>
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">SMS</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a th:href="@{/office/sms}">Manage</a>
                </li>
                <li>
                    <a th:href="@{/office/manage/sms}">Send Bulk</a>
                </li>
             
              </ul>
	          </li>
	          <li>
              <a th:href="@{/office/users}">Users</a>
	          </li>
            <li>
              <a th:href="@{/office/logs}">Logs</a>
	          </li>
	        
	        </ul>

	      </div>
    	</nav>
    	<ul class="nav justify-content-end" style="margin-top: 1pc;">
		        <li class="nav-item" style=" margin-left: 52pc;">
		          <a class="nav-link" th:href="@{/office/profile}"><i class="fa fa-user-o fa-1x" aria-hidden="true"></i></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link disabled"><i class="fa fa-sign-out fa-1x" aria-hidden="true"></i> Logout</a>
		        </li>
	      	</ul>
       
			</div>
    <div class="row" id="client-list">
        <div class="col-sm-12">
            <i class="fa fa-list" aria-hidden="true"></i>List of Clients
        </div>
        <div class="col-sm-12">
            <table class="table table-striped" id="table">
                <thead>
                  <tr>
                    <!---<th scope="col">#</th>-->
                    <th scope="col">Identity No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Employment</th>
                    <th scope="col" >Salary</th>
                    <th scope="col">Review</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>

                  </tr>
                </thead>
               <tbody>
					<tr th:each="lead : ${allleads}">
						<td th:text="${lead.pid}"></td>
						<td th:text="${lead.name}"></td>
						<td th:text="${lead.employment}"></td>
						<td th:text="${lead.salary}"></td>
						<td>
							<a th:href="@{/office/leadsreview(id=${lead.id})}">
								view
							</a>
						</td>
						<td  th:text="${lead.status}"></td>
						<td>
							<button type="button" data-bs-toggle="offcanvas"  onclick="javascript:get_buttonid(this);" id="das" th:value="${lead.pid}" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
								class="btn btn-outline-success">
							<!--<a th:href="@{/office/updateleads(id=${lead.id})}">-->
									<i class="fa fa-pencil-square-o  fa-lg"	aria-hidden="true"></i><!--</a>--> </button>
							<!--<button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
									class="btn btn-outline-success"></button>
									
							<a th:href="@{/office/deleteleads(id=${lead.id})}">
							 <button class="btn btn-outline-danger"><i class="fa fa-trash-o  fa-lg"
										aria-hidden="true"></i></button></a>-->
						</td>

					</tr>
				</tbody>
            </table>
            

				<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
				  <div class="offcanvas-header">
				    <h5 id="offcanvasRightLabel">Update Status</h5>
				    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				  </div>
				  <div class="offcanvas-body">
				  	<!--<p onLoad="if()" th:text = "${leadsinfo.name}"></p>-->
				  	<form th:action="@{/office/updateleads}" method="post" th:object="${updator}" >
				  		<input type="hidden" id="update_id" th:field="${updator.identity}">
				  		<label class="form-label">Set Status</label><br><br>
				  		<select class="form-control" th:field="${updator.status}">
				  			<option th:value="pending">Pending</option>
				  			<option th:value="declined">Declined</option>
				  			<option th:value="ongoing">Ongoing</option>
				  			<option th:value="approved">Approved</option>
				  		</select><br><br>
				  		<button type="submit" class="btn btn-outline-success form-control" >update</button>
				  	</form>
				  </div>
				</div>
        </div>
    </div>
    
</div>
</body>
</html>
<script th:src="@{/js/office/jquery.min.js}"></script>
<script th:src="@{/js/office/popper.js}"></script>
<script th:src="@{/js/office/bootstrap.min.js}"></script>
<script th:src="@{/js/office/main.js}"></script>
    
<script>
    $(document).ready( function () {
        $('#table').DataTable();
        
        $("#das").click(function(){
			console.log("hello");
			console.log(this.value);
		});
        var id = document.getElementById("das").value;
        console.log(id);
        
    } );
     function get_buttonid(ths){
        //alert(ths.value);
        
        document.getElementById("update_id").value = ths.value;
        
    }   
    
</script>