<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/office/style.css}">
	<link rel="stylesheet" th:href="@{/css/office/clients.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<script th:src="@{/css/bootstrap/bootstrap.core.min.js}"></script>
	<script th:src="@{/css/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{/css/bootstrap/jquery3.2.1.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
</head>
<title>Clients</title>
</head>

<body>

	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
		<div class="offcanvas-header">
			<h5 id="offcanvasRightLabel">Offcanvas right</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<p>
			oijaenvcanoiuaaaaaaaaaaaaaaaaaaaaaaawkjdsnvcfaipewjcaolkdsncoiewn cakjdw
			defcknewanflknewkf
			</br>pviknewrlvcnmrewvcrew
			vcewq
			</p>
		</div>
	</div>
	
<script>
  //$('body').offcanvas('show');
  $("#offcanvasRight").show();
</script>
</body>

</html>