#form_layout{
    width: 51pc;
    border: 1px solid;
    margin: 3pc 1pc 1pc 10pc;
    padding: 1pc;
    border-radius: 5px;
    font-family: serif;
    background-color: rgb(240, 240, 240);
    font-size: larger;
}
#heading{
    color: darkolivegreen;
    text-align: center;
}